@import './reset.scss';
@import "./variables.scss";
@import "./button_styles.scss";
@import "./scroll_down.scss";

html,
body {
    font-size: 16px;
    font-family: $fontFamily;
    background-color: black;
}

.section__a-container {
    position: relative;
}

#section__a {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 3.75rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section__a-form {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .section__a-input {
            font-family: $fontFamily;
            font-size: $fontSizes;
            color: black; 
            padding: $padding;
        }
        .search-button {
            font-family: $fontFamily;
            font-size: $fontSizes;
            padding: $padding;
            margin: 0px 10px 0px 10px;
            color: white;
        }
    }
 
}

.section_a-container {
    .error {
        font-size: 20px;
        margin-top: 25px;
    }
}

.images-list {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 20px;
    justify-content: center;
    position: relative;

    .image-container {
        width: 100%;
        height: 250px;
        
        .image-size {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.7s;
        }
    }
}

.image-size {
    &:hover { 
        transform: scale(1.1);
    }
}

.increased_photo_container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.increased_photo_container img {
    height: auto;
    opacity: 1;
    width: 700px;
    margin: 0 5px;
}

.increased_photo_container button {
    position: fixed;
    right: 32px;
    top: 32px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
    &:before,
    &:after {
        position: absolute;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: white;
        cursor: pointer;
        top: 0;
        bottom: 0;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.section_b-container {
    position: relative;
    .load__more {
        width: 200px;
        height: 50px;
        font-size: 1.125rem;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px;
        left: 50%;
        transform:translate(-50%, -50%);
        color: white;
    }
    .button-visibility {
        visibility: hidden;
    }
}

.loader {
    border: 5px solid $loaderBg;
    border-top: 5px solid darken($loaderColor, 20%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (max-width: 850px) { 
    html,
    body {
        font-size: 11px;
     }
}

@media (max-width: 450px) {
    .increased_photo_container button {
        top: 95px;
    }
}